/****************
*** DEFAULTS
*****************/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    color: white;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #22272c;
}

/* HEADINGS DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin-left: 40px;
}

hr {
    margin: 10px 0px;
    opacity: .25;
}

/* form defaults */
form input {
    width: 100%;
    display: block;
    padding: 13px 13px;
    font-size: 1em;
    margin: 10px auto 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #597387;
}

form textarea {
    padding: 13px 13px;
    margin: 10px auto 10px;
    width: 100%;
}

.delete-form {
    margin-top: 50px;
    text-align: center;
}

.delete-form .delete-btn {
    margin: 20px auto;
}



/* default button styling */
.btn {
    color: white;
    background: #2a4158;
    text-align: center;
    border: none;
    border-radius: 5px;
    display: block;
    letter-spacing: .1em;
    margin: 10px 0px;
    padding: 13px 20px;
    text-decoration: none;
    cursor: pointer;
}

.small-btn {
    width: 100px;
}


.container {
    width: 80%;
    margin: 0px auto;
}

/* NAVBAR */
.navbar {
    margin: 0 auto;
    overflow: hidden;
    background-color:#2a4158;
    border-radius: 0px 0px 6px 6px;
}

.navbar ul {
    list-style-type: none;
    float: right;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #B9E6F2;
    background-color: #597387;
}

/* LOGO */
.navbar .logo_div {
    float: left;
    padding-top: 5px;
    padding-left: 40px;
}

.navbar .logo_div h1 {
    color:white;
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 100;

}

/* footer */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color:#2a4158;
    border-radius: 3px;
    text-align: center;
    width: 80%;
    margin: 20px auto 0px;
    padding: 20px 0px;
}

/* BANNER: Welcome message; */
.banner {
    margin: 5px auto;
    min-height: 400px;
    display: block;
    color: white;
    border-radius: 5px;
    background-image: url('../images/banner.jpg');
    background-size: 100%;
    padding-top: 10px;
}

.banner .btn {
    width: 10%;
    margin:  0 auto;
    border: 2px solid #597387;  
}

.banner .logout-btn {
  margin: 20px 0;
  width: 100px;
}

/* BANNER: Login Form; */
.banner .login-container {
    width: 50%;
}
.banner .login-container form {
    margin: 40px auto 0 auto;

}

.banner .login-container form h2 {
    color: white;
    margin-bottom: 20px;
}

.banner .login-container form input {
    width: 60%;
    color: white;
    border: 1px solid white;
    margin: 10px auto;
    letter-spacing: 1.3px;
}

.banner .login-container form button {
    display: block;
    background: #2a4158;
    margin-left: 20%;
    width: 60%;
}

/* posts */
.posts-container {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: 335px 335px 335px;
    grid-template-rows: 335px;
    grid-gap: 25px;
}

 .content-title {
    margin: 10px auto;
}

.posts-container .post {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
}

.posts-container .post .category {
    margin-top: 0px;
    padding: 3px 8px;
    color: white;
    background: rgb(75, 87, 99);
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #374447;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 3;
}

.posts-container .post .category:hover {
    color: #2a4158;
    background: white;
    transition: .4s;
    opacity: 1;
}

.posts-container .post .post_image {
    height: 260px;
    width: 100%;
    background-size: 100%;
}

.posts-container .post .post_info {
    height: 100%;
    padding: 5px 5px;
    font-weight: 200;
}

.posts-container .post .post_info span.created_at {
    font-style: italic;
}

.posts-container .post .post_info span.read_more {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: underline;
}

/* * * * * * * * *
* SINGLE PAGE 
* * * * * * * * */
.content .post-wrapper {
    width: 70%;
    float: left;
    min-height: 250px;
}

.full-post-div {
    min-height: 300px;
    padding: 20px;
    border: 1px solid #e4e1e1;
    border-radius: 2px;
    color: white;
}

.full-post-div h2.post-title {
    margin: 10px auto 20px;
    text-align: center;
}

.post-body-div {
    font-size: 1.2em;
}

.post-body-div p {
    margin: 20px 0px;
}

.post-sidebar {
    width: 24%;
    float: left;
    margin-left: 5px;
    min-height: 400px;
}

.post-sidebar .card {
    width: 95%;
    margin: 10px auto;
    border: 1px solid #e4e1e1;
}

.post-sidebar .card .card-header {
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background: #3E606F;
}

.post-sidebar .card .card-header h2 {
    color: white;
}

.post-sidebar .card .card-content a {
    display: block;
    padding: 8px 10px;
    color: white;
}

.post-sidebar .card .card-content a:hover {
    padding-left: 20px;
    background: #F9F9F9;
    transition: 0.1s;
}

/* * * * * * * * *
* Register Page 
* * * * * * * * */
.sign-in {
    width: 10%;
}

.reg-form {
    width: 500px;
}

/* * * * * * * * *
* welcome message
* * * * * * * * */
.welcome-message-container {
    margin: 20px;
}

/* * * * * * * * *
* create post
* * * * * * * * */
.dropdown {
    width: 200px;
    background-color:rgb(75, 75, 75);
    padding: 13px;
    border-color:rgba(255, 255, 255, 0.644);
}

.body-text-area {
    background-color:rgb(75, 75, 75);
    border: none;
    padding: 13px;
}

